<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @park.name %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @park.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @park.lon %>
</p>

<p>
  <strong>Haswashroom:</strong>
  <%= @park.hasWashroom %>
</p>

<%= link_to 'Edit', edit_park_path(@park) %> |
<%= link_to 'Back', parks_path %>
